.kanit{
    font-family: 'kanit',sans-serif;
}
.kanitlight{
    font-family: 'kanit',sans-serif;
    font-weight: 300;
}
/*header*/
.head-font{
    font-size: 20px;
}
img.img-logo{
    width:35px;
    height: 35px;
    margin-top:0.25em;
    margin-right:0.25em;
    margin-left:0.5em;
}
div.flexdiv{
    display:flex;
}
.mynav{
    border-bottom: none;
    box-shadow: 0px 0px;
}

/*frontpage*/
hr.hr-front{
    border: solid lightgray 0.5px;
}
.fronttitle{
    font-size: 20px;
}
div.flexdiv2{
    display: flex;
    flex-wrap: wrap;
}
.frontpage-club{
    max-width: 80px;
    margin-left: 0.5em;
    margin-right:0.5em;
}
.flexscroll{
    overflow-x: auto;
}

div.flexdiv3{
    display: -webkit-flex;
}

/*clubinfopage*/
img.stadium-photo{ /*for sometime case*/
    width:100%;
    height:250px;
}

img.biglogo{
    width:100px;
    height: 100px;
    margin: 1em;
}
.clubname-head{
        width:270px;
        margin-left: 30%;
        margin-right: 30%;
}
.clubname-head-text{
    width: 300px;
}
.clubname-info{
    padding-top:30px;
}

.club-tab::-webkit-scrollbar {
    height:  0px;
}

    /*especially in media */
@media (max-width: 575.98px) { 
    .head-font{
        font-size: 18px;
    }
 }
@media (max-width: 767.98px) { 
    img.fanzone-2{
        height: 80px;
    }
    .fanzone-1{
        height: 160px;
    }
    
    img.stadium-photo{
        width:100%;
        height:250px;
    }
}
@media (min-width: 992px) {
    img.stadium-photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:70%;
        height:400px;
    }
    .clubname-head{
        margin-left: 2%;
        margin-right: 0%;
    }
}

/*admin panel*/
img.admin-teamlogo{
    height: 70px;
    width:70px;
}