.kanit{
    font-family: 'kanit',sans-serif;
}
.kanitlight{
    font-family: 'kanit',sans-serif;
    font-weight: 300;
}
.text-l1{
    font-size: 16px;
}
.text-l2{
    font-size: 20px;
}
.acenter{
    text-align: center;
}
/*header*/
.head-font{
    font-size: 20px;
}
img.img-logo{
    width:35px;
    height: 35px;
    margin-top:0.25em;
    margin-right:0.25em;
    margin-left:0.5em;
}
div.flexdiv{
    display:flex;
}
.mynav{
    border-bottom: none;
    box-shadow: 0px 0px;
}


/*frontpage*/
hr.hr-front{
    border: solid lightgray 0.5px;
}
.fronttitle{
    font-size: 20px;
}
div.flexdiv2{
    display: flex;
    flex-wrap: wrap;
}
.frontpage-club{
    max-width: 80px;
    margin-left: 0.5em;
    margin-right:0.5em;
}
.flexscroll{
    overflow-x: auto;
}

div.flexdiv3{
    display: -webkit-flex;
}
.tablerank{
    padding-top:0.25em;
    padding-bottom: 0.25em;
}
.frontpage1-teamlogo{
    width:30px;
    height: 30px;
}
/*clubinfopage*/
img.stadium-photo{ /*for sometime case*/
    width:100%;
    height:250px;
}

img.biglogo{
    width:100px;
    height: 100px;
    margin: 1em;
}
.clubname-head{
        width:270px;
        margin-left: 30%;
        margin-right: 30%;
}
.clubname-head-text{
    width: 300px;
}
.clubname-info{
    padding-top:30px;
}

.club-tab::-webkit-scrollbar {
    height:  0px;
}
.flag-my-icon{
    width: 40px;
    height: 40px;
}
img.clubinfo-teamlogo{
    height: 50px;
    width:50px;
}

/*clubtable page */
.tournament-logo{
    height: 70px;
    width: 70px;
}
    /*especially in media */
@media (max-width: 575.98px) { 
    .head-font{
        font-size: 18px;
    }
    .team-select{
        padding-top:0px;
    }
    .matchday-hteam{
        padding-left:2%;
        padding-right:2%;
    }
    .matchday-ateam{
        padding-left:2%;
        padding-right:2%;
    }
 }
@media (max-width: 767.98px) { 
    img.fanzone-2{
        height: 80px;
    }
    .fanzone-1{
        height: 160px;
    }
    
    img.stadium-photo{
        width:100%;
        height:250px;
    }
    .team-select{
        padding-top:0px;
    }
    .matchday-hteam{
        padding-left:10%;
        padding-right:10%;
    }
    .matchday-ateam{
        padding-left:10%;
        padding-right:10%;
    }
}
/*matchday page */
img.matchday-logo{
    height: 40px;
    width:40px;
}
h6.matchday-teamname{
    padding-top:0px;
}
img.ticketprovide-logo{
    height: 100px;
    width: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
img.matchday-tvshort
{
    height:40px;
    width:100px;
    margin-left:1em;
    margin-right:1em;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
img.matchday-tvlong
{
    height:40px;
    width:140px;
    margin-left:1em;
    margin-right:1em;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.lineup-player{
    height:40px;
    width:40px;
}
.picture-center{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
h6.playernumber{
    width:20px;
    height: 20px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 20px;
    font-size: 14px;
}
.lineup-playername{
    width:50px;
    overflow: hidden;
    font-size: 12px;
}
.matchday-lineup
{
    margin-left:0.25em;
    margin-right:0.25em;
    margin-top:0.25em;
}
.lineup-setcenter{
    justify-content:center;
}

@media (max-width: 991.98px)  { 
    .team-select{
        padding-top:1em;
        margin-left:1em;
    }
}
@media (min-width: 992px) {
    img.stadium-photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:70%;
        height:400px;
    }
    .clubname-head{
        margin-left: 2%;
        margin-right: 0%;
    }
    .team-select{
        margin-left:1em;
    }
    .matchday-hteam{
        padding-left:20%;
        padding-right:20%;
    }
    .matchday-ateam{
        padding-left:20%;
        padding-right:20%;
    }
    .lineup-player{
        height:70px;
        width:70px;
    }
    h6.playernumber{
        width:40px;
        height: 40px;
        margin-left: auto; 
        margin-right: 0.25em;
        border-radius: 20px;
        font-size: 18px;
        padding-top:0.5em;
    }
    .lineup-playername{
        width:70px;
        overflow: hidden;
        font-size: 16px;
    }
    .matchday-lineup
    {
    margin-left:0.5em;
    margin-right:0.5em;
    margin-top:0.25em;
    }
  
}

/*admin panel*/
img.admin-teamlogo{
    height: 70px;
    width:70px;
}
img.select-teamlogo{
    height: 40px;
    width:40px;
}
.admin-badge{
    font-size: 16px;
}
.admin-table-ovf{
    max-width: 200px;
    overflow: hidden;
}

.matchmaker-teamname{
    text-align: center;
}
.matchweekdiv{
    padding-top:1em;
}
.lineup-photo{
    height:100px;
    width:100px;
}
.lineup-playerinfo{
    margin-left:0.5em;
    margin-right: 0.5em;
}
.admin-teamlineup
{
    margin-top:0.25em;
    margin-bottom: 0.25em;
}
.admin-warroom-text
{
   padding-top:1em;
   margin-left:1em;
}
.warroom-btn
{
    height: 30px;
    padding-top:0.1em;
    font-size: 14px;
    padding-left:0.2em;
    padding-right: 0.2em;
}